<mat-toolbar>
        <mat-toolbar-row>
                <span>Cardio Vascular Data Analysis</span>
                <span class="spacer"></span>
                <button mat-raised-button (click)="insert()">Insert</button>&nbsp;
                <button mat-raised-button (click)="view()">View</button>&nbsp;
                <button mat-raised-button (click)="update()">Update</button>&nbsp;
                <button mat-raised-button (click)="delete()">Delete</button>&nbsp;
                <a mat-raised-button href="https://charts.mongodb.com/charts-mongosession-uwxcl/dashboards/567133ad-9864-493b-8fb5-cffb1fb08116" target = "_blank">Visualization</a>
                <mat-icon class = "home" aria-hidden="false" aria-label="Example home icon" (click) = "onHome()">home</mat-icon>
        </mat-toolbar-row>
</mat-toolbar>
            