/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-snack-bar-container.red-snackbar{
    background-color: red !important;
    color: white;
}

.mat-snack-bar-container.green-snackbar{
    background-color: green !important;
    color: white;
}

.mat-card{
    background-color: rgba(192, 192, 192, 0.596);
    margin: 10%;
    margin-top: 2%;
    text-align: center;
}

.mat-card-title{
    color: rgba(15, 14, 14, 0.925);
}

.mat-card-content{
    color: rgba(15, 14, 14, 0.925);
    
}

.table{
    margin-left: 50%;
}

.td{
    text-align: center;
    align-content: center;
}

.tr{
    text-align: center;
    align-content: center;
}

.table_view{
    text-align: center;
   
}